<p>Cart</p>
<ng-container *ngIf="cartItems.length; else emptyCart">
  <app-cart-item 
    *ngFor="let ci of cartItems"
    [cartItem]="ci"
    (incrementAmount)="onCartItemIncrementAmount(ci)"
    (decrementAmount)="onCartItemDecrementAmount(ci)"
    appHighlight></app-cart-item>
  <div style="display: flex; justify-content: space-between; padding-right: 20px;">
    <div>
      <div>Total items: {{totalAmount}}</div>
      <div>Total price: {{totalPrice}}</div>
    </div>
    <div class="spinner" [ngStyle]="{'transform': 'rotate('+totalPrice*10+'deg)'}">💲</div>
  </div>
</ng-container>


<ng-template #emptyCart>
  <span>The cart is empty so far</span>
</ng-template>